@font-face {
  font-family: "iconfont"; /* Project id 3953171 */
  src: url('iconfont.woff2?t=1685880730523') format('woff2'),
       url('iconfont.woff?t=1685880730523') format('woff'),
       url('iconfont.ttf?t=1685880730523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-24px:before {
  content: "\e60d";
}

.icon-pinglun:before {
  content: "\e646";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-wj-bjb:before {
  content: "\e77f";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-zhuanfa:before {
  content: "\e60b";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-shoucang:before {
  content: "\e8ba";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-guankan:before {
  content: "\e63e";
}

.icon-dianzan:before {
  content: "\ec7f";
}

